In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/workspaces/Data-Analyst-Project-Portfolio/airbnb_pricing_demand/data/listings.csv")

In [3]:
df.head()

,City,Neighbourhood,Property_Type,Room_Type,Price,Minimum_Nights,Number_of_Reviews,Review_Score,Availability_365,Latitude,Longitude,Host_Since
0,San Francisco,City Center,Condominium,Entire home/apt,179.94,1,41,66.2,223,39.383949,-112.122774,2020-11-14
1,Boston,Downtown,Apartment,Private room,230.65,7,171,86.9,249,38.012177,-76.070411,2021-03-04
2,Chicago,City Center,Loft,Shared room,415.40,4,31,83.9,35,37.582870,-106.424718,2021-11-01
3,San Francisco,Downtown,Townhouse,Private room,432.96,5,85,94.0,346,38.932787,-78.032835,2022-02-01
4,Chicago,Waterfront,Apartment,Entire home/apt,551.43,4,11,86.1,236,39.557027,-96.398916,2017-06-01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               120 non-null    object
 1   Neighbourhood      120 non-null    object
 2   Property_Type      120 non-null    object
 3   Room_Type          120 non-null    object
 4   Price              120 non-null    float64
 5   Minimum_Nights     120 non-null    int64
 6   Number_of_Reviews  120 non-null    int64
 7   Review_Score       120 non-null    float64
 8   Availability_365   120 non-null    int64
 9   Latitude           120 non-null    float64
 10  Longitude          120 non-null    float64
 11  Host_Since         120 non-null    object
dtypes: float64(4), int64(3), object(5)
memory usage: 11.4+ KB

In [5]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [6]:
missing_summary = df.isnull().sum().sort_values(ascending=False)
print("Missing Values Summary:\n", missing_summary)

Missing Values Summary:
 city                 0
neighbourhood        0
property_type        0
room_type            0
price                0
minimum_nights       0
number_of_reviews    0
review_score         0
availability_365     0
latitude             0
longitude            0
host_since           0
dtype: int64

In [7]:
df = df.dropna(subset=['price', 'latitude', 'longitude'])

In [8]:
df['review_score'] = df['review_score'].fillna(df['review_score'].mean())
df['number_of_reviews'] = df['number_of_reviews'].fillna(0)
df['host_since'] = pd.to_datetime(df['host_since'], errors='coerce')

In [9]:
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)
df['minimum_nights'] = df['minimum_nights'].astype(int)
df['availability_365'] = df['availability_365'].astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipykernel_5220/1933411505.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

In [10]:
df['host_years'] = pd.Timestamp.now().year - df['host_since'].dt.year
df['host_years'] = df['host_years'].fillna(0).astype(int)

In [11]:
df = df.drop_duplicates()

In [12]:
print("Final Shape after Cleaning:", df.shape)
display(df.describe())
display(df.head())

Final Shape after Cleaning: (120, 13)

,price,minimum_nights,number_of_reviews,review_score,availability_365,latitude,longitude,host_since,host_years
count,120.000000,120.000000,120.000000,120.0000,120.000000,120.000000,120.000000,120,120.000000
mean,317.679917,5.633333,97.691667,80.3425,186.150000,38.955642,-95.186458,2019-01-24 19:36:00,6.441667
min,36.260000,1.000000,1.000000,60.2000,4.000000,37.045308,-122.304128,2015-01-02 00:00:00,2.000000
25%,189.352500,3.000000,41.000000,69.4500,97.500000,38.058972,-108.120853,2017-02-12 00:00:00,4.000000
50%,333.490000,6.000000,95.500000,81.9500,192.500000,38.939008,-94.141595,2018-12-12 12:00:00,7.000000
75%,456.322500,8.250000,145.000000,91.6750,269.750000,39.881512,-82.808266,2021-02-17 00:00:00,8.000000
max,591.150000,10.000000,199.000000,100.0000,359.000000,40.899406,-71.317277,2023-03-01 00:00:00,10.000000
std,161.425635,2.989993,58.610636,12.1976,105.957709,1.095984,15.060265,NaN,2.339992

,city,neighbourhood,property_type,room_type,price,minimum_nights,number_of_reviews,review_score,availability_365,latitude,longitude,host_since,host_years
0,San Francisco,City Center,Condominium,Entire home/apt,179.94,1,41,66.2,223,39.383949,-112.122774,2020-11-14,5
1,Boston,Downtown,Apartment,Private room,230.65,7,171,86.9,249,38.012177,-76.070411,2021-03-04,4
2,Chicago,City Center,Loft,Shared room,415.40,4,31,83.9,35,37.582870,-106.424718,2021-11-01,4
3,San Francisco,Downtown,Townhouse,Private room,432.96,5,85,94.0,346,38.932787,-78.032835,2022-02-01,3
4,Chicago,Waterfront,Apartment,Entire home/apt,551.43,4,11,86.1,236,39.557027,-96.398916,2017-06-01,8