In [1]:
import pandas as pd

In [2]:

# Load data
df = pd.read_csv("/workspaces/Data-Analyst-Project-Portfolio/Netflix-WatchPattern-Analytics/data/netflix_watch_pattern_dataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User_ID                 120 non-null    object
 1   Video_Title             120 non-null    object
 2   Genre                   120 non-null    object
 3   Watch_Date              120 non-null    object
 4   Start_Time              120 non-null    object
 5   Watch_Duration_Minutes  120 non-null    float64
 6   Total_Video_Duration    120 non-null    float64
 7   Device_Type             120 non-null    object
 8   Completed               120 non-null    object
dtypes: float64(2), object(7)
memory usage: 8.6+ KB

In [4]:
df.head()

,User_ID,Video_Title,Genre,Watch_Date,Start_Time,Watch_Duration_Minutes,Total_Video_Duration,Device_Type,Completed
0,user_16,Drama Movie 5,Drama,2024-02-05,18:45,96.83,128.30,Smart TV,No
1,user_13,Thriller Movie 4,Thriller,2024-04-08,06:34,60.87,68.73,Smart TV,Yes
2,user_11,Thriller Movie 5,Thriller,2024-02-21,06:49,34.88,92.27,Desktop,No
3,user_12,Drama Movie 5,Drama,2024-04-15,01:36,113.35,118.46,Laptop,Yes
4,user_18,Romance Movie 5,Romance,2024-05-12,03:15,36.07,92.33,Smart TV,No

In [6]:
df['Watch_Date'] = pd.to_datetime(df['Watch_Date'], errors='coerce')

In [7]:
df.dropna(subset=['Watch_Date', 'Video_Title'], inplace=True)

In [8]:
df['Video_Title'] = df['Video_Title'].str.strip()

In [10]:
df.to_csv("/workspaces/Data-Analyst-Project-Portfolio/Netflix-WatchPattern-Analytics/data/netflix_cleaned.csv", index=False)