In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
df = pd.read_csv("/workspaces/Data-Analyst-Project-Portfolio/Netflix-WatchPattern-Analytics/data/netflix_cleaned.csv")

In [5]:
df['Date'] = pd.to_datetime(df['Watch_Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month_name()
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()

In [6]:
print("Dataset shape:", df.shape)
display(df.head())

Dataset shape: (120, 14)

,User_ID,Video_Title,Genre,Watch_Date,Start_Time,Watch_Duration_Minutes,Total_Video_Duration,Device_Type,Completed,Date,Year,Month,Day,Weekday
0,user_16,Drama Movie 5,Drama,2024-02-05,18:45,96.83,128.30,Smart TV,No,2024-02-05,2024,February,5,Monday
1,user_13,Thriller Movie 4,Thriller,2024-04-08,06:34,60.87,68.73,Smart TV,Yes,2024-04-08,2024,April,8,Monday
2,user_11,Thriller Movie 5,Thriller,2024-02-21,06:49,34.88,92.27,Desktop,No,2024-02-21,2024,February,21,Wednesday
3,user_12,Drama Movie 5,Drama,2024-04-15,01:36,113.35,118.46,Laptop,Yes,2024-04-15,2024,April,15,Monday
4,user_18,Romance Movie 5,Romance,2024-05-12,03:15,36.07,92.33,Smart TV,No,2024-05-12,2024,May,12,Sunday