In [ ]:
import pandas as pd
import numpy as numpy
import matplotlib as plt

In [4]:
df = pd.read_csv("/workspaces/Data-Analyst-Project-Portfolio/ecommerce-return-prediction/data/ecommerce_transactions_returns.csv")

In [6]:
df.head()

,Customer_ID,Product_ID,Category,Location,Order_Date,Delivery_Date,Payment_Method,Price,Quantity,Total_Amount,Returned,Return_Date,Return_Reason
0,CUST_0001,PROD_003,Sports,Hyderabad,09-03-2024,15-03-2024,COD,1623.67,2,3247.34,No,NaN,NaN
1,CUST_0001,PROD_018,Clothing,Mumbai,26-06-2024,03-07-2024,COD,4385.84,1,4385.84,No,NaN,NaN
2,CUST_0001,PROD_005,Electronics,Bangalore,25-04-2024,27-04-2024,Debit Card,1473.51,1,1473.51,No,NaN,NaN
3,CUST_0001,PROD_007,Beauty,Delhi,01-05-2024,11-05-2024,Net Banking,3161.29,1,3161.29,No,NaN,NaN
4,CUST_0001,PROD_008,Home,Pune,17-04-2024,23-04-2024,Debit Card,3118.51,2,6237.02,No,NaN,NaN

In [8]:
df.shape

(150, 13)

In [10]:
df.isnull().sum()

Customer_ID         0
Product_ID          0
Category            0
Location            0
Order_Date          0
Delivery_Date       0
Payment_Method      0
Price               0
Quantity            0
Total_Amount        0
Returned            0
Return_Date       121
Return_Reason     121
dtype: int64